alabaster==0.7.12
anyio==3.6.1
atom==0.8.1
azure-ai-textanalytics==5.1.0
azure-common==1.1.28
azure-core==1.25.0
Babel==2.10.3
beautify==0.1.4
blurb==1.1.0
certifi==2022.6.15
charset-normalizer==2.1.0
click==8.1.3
colorama==0.4.5
Cython==0.29.32
document==1.0
documents==0.0.1
docutils==0.19
fastapi==0.79.0
Flask==2.2.1
h11==0.13.0
idna==3.3
imagesize==1.4.1
isodate==0.6.1
itsdangerous==2.1.2
Jinja2==3.1.2
lxml==4.9.1
MarkupSafe==2.1.1
msrest==0.7.1
oauthlib==3.2.0
packaging==21.3
Pillow==9.2.0
prettier==0.0.7
pydantic==1.9.1
Pygments==2.12.0
pyparsing==3.0.9
python-doc==2020.10.1
python-docs-theme==2022.1
python-docx==0.8.11
pytz==2022.1
requests==2.28.1
requests-oauthlib==1.3.1
six==1.16.0
sniffio==1.2.0
snowballstemmer==2.2.0
Sphinx==2.4.4
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
starlette==0.19.1
typing==3.7.4.3
typing_extensions==4.3.0
urllib3==1.26.11
uvicorn==0.18.2
Werkzeug==2.2.1
uvloop
httptools
gunicorn==20.0.4
